body{
    background: black;
}
.cartao{
    width: 400px;
    height: 200px;
    padding: 1px 20px;
    box-sizing: border-box;
    background: url(../Imagens/backgorund.png) no-repeat;
    background-size: cover;
    margin: auto;
    margin-top: 10%;
}
  
a{
    text-decoration: none;
    color: black;
}

.instagram{
    list-style-image: url(../Imagens/Insta.png);

}

.Youtube{

    list-style-image: url(../Imagens/Youtube.png);
}

.twitter{

    list-style-image: url(../Imagens/Twitter.png);

}


